/* Impor Tailwind CSS */
@import "tailwindcss";
/* ================================================================== */
/* Bagian setting Fonts */
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/helvetica.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* =================================================================== */

/* Variabel CSS untuk tema */
:root {
  --background: #ffffff;
  --darkblue: #1c66c9;
  --font-paragraph: 'Helvetica', helvetica, arial, sans-serif;
  --font-tittle: 'Coolvetica', helvetica, arial, sans-serif;
}

/* style dasar body */
@layer base {
  body {
    margin: 0;
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-paragraph);
  }
}

/* costume warna Tailwind */
@layer utilities {
  .bg-background {
    background-color: var(--background);
  }
  .bg-darkblue {
    background-color: var(--darkblue);
  }
  .bg-gradient-darkblue {
    background: #2CA6E9;
    background: linear-gradient(355deg, rgba(44, 166, 233, 1) 0%, #1c66c9 46%);
  }
  .bg-gradient-bluedark {
    background: #2CA6E9;
    background: linear-gradient(355deg, rgba(28, 102, 201, 1) 0%, rgba(44, 166, 233, 1) 46%);
  }
  .bg-gradient-blue {
    background: #2CA6E9;
  }
  .bg-transparant-blue {
    background: #2CA6E9;
    background: linear-gradient(355deg, #2ca6e9 0%, #1c66c9 46%);
  }

  .text-darkblue {
      background: linear-gradient(147deg, #2ca6e9 0%, #1c66c9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .glassmorph {
      background: linear-gradient(234deg, rgba(255, 255, 255, 0.226) 0%, rgba(255, 255, 255, 0.089) 100%);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.027);
      backdrop-filter: blur( 15px );
      -webkit-backdrop-filter: blur( 8px );
      border-radius: 6px;
      border: 1px solid rgba(255, 255, 255, 0.589);
  }
  
  .font-tittle{
    font-family: var(--font-tittle);
  }

/* ? Animasi */
}

@theme {
  --animate-shine: shine 3s linear infinite;
}
@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
/* Animasi float-wind: gerakan vertikal dengan rotasi kecil */
@keyframes float-wind {
0% {
transform: translateY(0) rotate(0deg);
}
50% {
transform: translateY(-50px) rotate(3deg);
}
100% {
transform: translateY(50) rotate(-3deg);
}
}


.animate-float-wind {
animation: float-wind 4s ease-in-out infinite;
transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease; 
}


/* .sticky-xl {
position: fixed;
animation: none; 
transform: none !important; 
}


.stop-sticky {
position: absolute;
animation: float-wind 4s ease-in-out infinite;
} */

@keyframes scroll-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-x {
  display: flex;
  animation: scroll-x 45s linear infinite;
  will-change: transform; /* Optimizes animation performance */
  width: max-content; /* Ensures the container fits all content tightly */
}

/* Pause animation on hover (optional) */
.animate-scroll-x:hover {
  animation-play-state: paused;
}
.animate-float-wind {
  animation: float-wind 3s ease-in-out infinite;
}
.parallax {
  transform: translateY(0);
  will-change: transform;
}
/* security */
img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}


.fixed.parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


.card {
  margin: auto;
  width: min(300px, 100%);
  background-color: #fefefe;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #141417;
}
.card__hero {
  background-color: #ffffff;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1.5rem;
  font-size: 0.875rem;
}
.card__hero .card__job-title {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 600;
  padding-right: 2rem;
}
.card__hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  font-weight: 700;
}
.card__footer {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.75rem;
  row-gap: 1rem;
  font-weight: 700;
  font-size: 0.875rem;
}
@media (min-width: 340px) {
  .card__footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}
.card__job-summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.75rem;
}
.card__btn {
  width: 100%;
  font-weight: 400;
  border: none;
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;
  background-color: #141417;
  color: #fff;
  font-size: 1rem;
}
@media (min-width: 340px) {
  .card__btn {
    width: max-content;
  }
}

/* Hide horizontal scrollbar but allow scrolling */
body, html {
  /* For WebKit browsers (Chrome, Safari, Edge) */
  overflow-x: auto; /* Ensure horizontal scrolling is enabled */
  scrollbar-width: none; /* For Firefox: hide scrollbar */
  -ms-overflow-style: none; /* For Internet Explorer and Edge: hide scrollbar */
}

/* For WebKit browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none; /* Hide scrollbar completely */
}

/* If you have a specific container with horizontal scrolling, apply it to that container */
.container-with-horizontal-scroll {
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.container-with-horizontal-scroll::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}

/* From Uiverse.io by ilkhoeri */ 
.button {
  --h-button: 48px;
  --w-button: 102px;
  --round: 0.55rem;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.25s ease;
  /* background: radial-gradient(
      65.28% 65.28% at 50% 100%,
      rgba(223, 113, 255, 0.8) 0%,
      rgba(223, 113, 255, 0) 100%
    ),
    linear-gradient(0deg, #7a5af8, #7a5af8); */
  border-radius: var(--round);
  border: none;
  outline: none;
  padding: 12px 18px;
}
.button::before,
.button::after {
  content: "";
  position: absolute;
  inset: var(--space);
  transition: all 0.5s ease-in-out;
  border-radius: calc(var(--round) - var(--space));
  z-index: 0;
}
.button::before {
  --space: 1px;
  background: linear-gradient(
    177.95deg,
    rgba(255, 255, 255, 0.19) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.button::after {
  --space: 2px;
  /* background: radial-gradient(
      65.28% 65.28% at 50% 100%,
      rgba(223, 113, 255, 0.8) 0%,
      rgba(223, 113, 255, 0) 100%
    ),
    linear-gradient(0deg, #7a5af8, #7a5af8); */
}
.button:active {
  transform: scale(0.95);
}

.fold {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  background: radial-gradient(
    100% 75% at 55%,
    rgba(223, 113, 255, 0.8) 0%,
    rgba(223, 113, 255, 0) 100%
  );
  box-shadow: 0 0 3px black;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: var(--round);
}
.fold::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 150%;
  transform: rotate(45deg) translateX(0%) translateY(-18px);
  background-color: #e8e8e8;
  pointer-events: none;
}
.button:hover .fold {
  margin-top: -1rem;
  margin-right: -1rem;
}

.points_wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.points_wrapper .point {
  bottom: -10px;
  position: absolute;
  animation: floating-points infinite ease-in-out;
  pointer-events: none;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 9999px;
}
@keyframes floating-points {
  0% {
    transform: translateY(0);
  }
  85% {
    opacity: 0;
  }
  100% {
    transform: translateY(-55px);
    opacity: 0;
  }
}
.points_wrapper .point:nth-child(1) {
  left: 10%;
  opacity: 1;
  animation-duration: 2.35s;
  animation-delay: 0.2s;
}
.points_wrapper .point:nth-child(2) {
  left: 30%;
  opacity: 0.7;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
}
.points_wrapper .point:nth-child(3) {
  left: 25%;
  opacity: 0.8;
  animation-duration: 2.2s;
  animation-delay: 0.1s;
}
.points_wrapper .point:nth-child(4) {
  left: 44%;
  opacity: 0.6;
  animation-duration: 2.05s;
}
.points_wrapper .point:nth-child(5) {
  left: 50%;
  opacity: 1;
  animation-duration: 1.9s;
}
.points_wrapper .point:nth-child(6) {
  left: 75%;
  opacity: 0.5;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
.points_wrapper .point:nth-child(7) {
  left: 88%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.2s;
}
.points_wrapper .point:nth-child(8) {
  left: 58%;
  opacity: 0.8;
  animation-duration: 2.25s;
  animation-delay: 0.2s;
}
.points_wrapper .point:nth-child(9) {
  left: 98%;
  opacity: 0.6;
  animation-duration: 2.6s;
  animation-delay: 0.1s;
}
.points_wrapper .point:nth-child(10) {
  left: 65%;
  opacity: 1;
  animation-duration: 2.5s;
  animation-delay: 0.2s;
}

.inner {
  z-index: 2;
  gap: 6px;
  position: relative;
  width: 100%;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: color 0.2s ease-in-out;
}

.inner svg.icon {
  width: 18px;
  height: 18px;
  transition: fill 0.1s linear;
}

.button:focus svg.icon {
  fill: white;
}
.button:hover svg.icon {
  fill: transparent;
  animation:
    dasharray 1s linear forwards,
    filled 0.1s linear forwards 0.95s;
}
@keyframes dasharray {
  from {
    stroke-dasharray: 0 0 0 0;
  }
  to {
    stroke-dasharray: 68 68 0 0;
  }
}
@keyframes filled {
  to {
    fill: white;
  }
}
